<ion-show-when size="xl">
    <ion-header>
        <ion-toolbar>
            <ion-title class="centerText">Payroll Services</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-show-when>
<ion-content>
    <ion-row>
        <!-- ******** Banner Area ********** -->
        <div class="bannerArea">
            <ion-row justify-content-center>
                <ion-col size="12">
                    <h1 class="centerText titleText">Expert Payroll Tax Services & Quarterly Filling</h1>
                </ion-col>
            </ion-row>
        </div>
        <!-- ******** End Of Banner Area ********** -->
        <ion-col offsetXl="2" sizeXl="8">
            <ion-row>
                <ion-col>
                    <h3>Payroll</h3>
                    <p>
                        One of our most successful business services is our payroll tax service.
                        Completely automatic and customized to save you time and money, our payroll
                        tax service is second to none.
                    </p>
                    <p>
                        We realize that so many business owners have so much to do that the last
                        thing they need is to deal with another non income producing and non customer
                        specific administrative task. That's what payroll recording and payroll tax calculations are.
                    </p>
                    <p>
                        With the help of our powerful custom software and expert personal attention to detail,
                        our accountants can completely automate the entire process. Thus allowing you to focus on
                        your most important tasks and have more time available.
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h3>Quarterly Filing</h3>
                    <p>
                        Everyone is clearly aware of Tax Day that comes around in April, however few people
                        realize that there are other important deadlines to keep. For instance, your income
                        tax is a pay-as-you-go system for qualifying individuals or businesses. This means that
                        if you are a sole proprietor or have other types of taxable income such as capital, you
                        may actually incur penalties from the IRS if you do not file quarterly estimated payments each
                        year.
                    </p>
                    <p>
                        According to the IRS Website, “Individuals, including sole proprietors, partners, and S
                        corporation
                        shareholders, generally have to make estimated tax payments if they expect to owe tax of $1,000
                        or more
                        when their return is filed.”
                        <a target="blank" href="https://www.irs.gov/businesses/small-businesses-self-employed/estimated-taxes">IRS
                            Website</a>
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h5>The general rule is that you need to make estimated tax payments
                        and file Form 1040-ES: (Estimated Tax for Individuals) if both of the following apply:
                    </h5>
                    <ion-list>
                        <ion-item>
                            <ion-icon slot="start" name="warning"></ion-icon>
                            <p>Your estimated tax due is $1,000 or more.</p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="warning"></ion-icon>
                            <p>The total amount of your withholding and refundable credits
                                will be less than the smaller of:<br>
                                • 90 percent of your current year’s tax liability<br>
                                • 100 percent of your previous year’s tax liability (110% if your 2015 AGI was
                                $150,000 or more; $75,000 for married taxpayers filing separate returns)
                            </p>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>
                        Exceptions may apply to farmers and fisherman, but even then, it dependent on
                        the percentage of their gross annual income.
                    </p>
                    <p>
                        Quarterly payments to the IRS are due on April 15th, June 15th, September 15th
                        and January 17th. With our assistance however, you won’t have to even think about
                        those dates or worry about any fees from the IRS. We’ll make sure to handle all your
                        filings and let you get back to more important things, such as the growth of your business.
                    </p>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div class="footerSpace"></div>
</ion-content>