<ion-content>
    <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
        <ion-row justify-content-center>
          <ion-col size="12">
            <h1 class="centerText titleText">Personal Income Tax</h1>
            <p class="centerText titleText">We'll get you the biggest refund possible</p>
          </ion-col>
        </ion-row>
      </div>
      <!-- ******** End Of Banner Area ********** -->
    <ion-row>
        <ion-col offsetXl="2" sizeXl="8">
            <ion-row>
                <ion-col size="12">
                    <h3>We'll remove all your tax preparation worries</h3>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>
                        Income tax preparation is our specialty. It's what we love to do and we assure you that,
                        unlike so many other preparers, we will never rush you in and out or treat you like a number.
                    </p>
                    <p>
                        Our friendly and attentive income tax preparers are professional accountants.
                        With over 60 years combined experience in tax preparation, we assure you that no one can even
                        come close to our level of quality and attention to detail. We have a "TRADITION IN CARING".
                    </p>
                    <p>
                        We promise that once you enter our convenient office in Queens New York,
                        you will be treated with the utmost respect and care.
                        We will take all the time necessary to:
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h4><strong>We will take all the time necessary to: </strong></h4>
                    <ion-list>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Listen and fully understand your most pressing needs and worries</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Carefully assess your current tax situation</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Collect and analyze all necessary documents and proofs</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Carefully evaluate your specific tax liabilities</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Provide realistic and proven suggestions to lower these liabilities</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Keep you aware of any new laws or regulations the IRS has enacted</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Answer any question or explain any concept you may not understand</strong></p>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>
                        Our ultimate goal is to have you leave our office relieved and secure in
                        knowing that your tax preparation needs are in good hands and that you'll have one less
                        thing to worry about. As long as your paperwork is accurate, we promise to stand by and
                        support you should the IRS require any additional information.
                    </p>
                    <p>
                        Feel free to give us a call to discuss your current tax situation and benefit from
                        our well earned reputation as the very best tax preparation service available today.
                    </p>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div class="footerSpace"></div>
</ion-content>