<ion-content>
    <ion-row>
        <!-- ******** Banner Area ********** -->
        <div class="bannerArea">
            <ion-row justify-content-center>
                <ion-col size="12">
                    <h1 class="centerText titleText">Corporate Tax Experts</h1>
                    <p class="centerText titleText">We'll make sure you never pay more than you have to!</p>
                </ion-col>
            </ion-row>
        </div>
        <!-- ******** End Of Banner Area ********** -->
        <ion-col offsetXl="2" sizeXl="8" size="12">
            <ion-row>
                <ion-col size="12">
                    <h3><strong>Corporate Tax Solutions for your Business</strong></h3>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>
                        As business owners we know exactly what you're going through in today's stressful
                        business climate. The lack of customers, the lack of certainty, and especially,
                        the lack of funds to operate and grow. We have helped form many new small and medium sized
                        businesses
                        and have listened carefully to all their concerns and worries. As professional
                        corporate tax consultants and preparers, we know the strain that paying ever increasing
                        tax rates can have on a business.
                    </p>
                    <p>
                        Unfortunately, the IRS is not looking to help you with your business.
                        They're not interested in assuring your long term growth and success. They exist to do one
                        thing and one thing only: to collect as much money as possible from any and every new and
                        existing business.
                    </p>
                    <p>
                        That's why, since 2009, they've hired thousands of new auditors every year to investigate
                        and find businesses that may or may not be liable for non-payment of back taxes.
                        They will use every method, tool, trick available to them to enforce the tax collection
                        laws that congress has enacted.
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h4><strong>
                            <ion-icon slot="start" name="help-buoy"></ion-icon>How we can help
                        </strong></h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>
                        We have been doing all this for our hundreds of business clients for over 30 years.
                        One of these, a very loyal client, once said "Having Maisonave Business Services as your
                        finacial partner is like getting the best CPA firm without the cost of a Park avenue address.
                        Their genuine concern is so assuring that you can't help but recommend them to your friends and
                        family"
                    </p>
                    <p>
                        Allow us to help you with all your business tax matters and show you why
                        our many loyal clients are completely delighted with the quality of our services.
                    </p>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div class="footerSpace"></div>
</ion-content>