.bannerArea {
    position: relative;
    width: 73%;
    margin: auto;
    background-image: url("/assets/images/CorporateIncomeBanner.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 260px;
}

@import '../../bannerStyle.scss';