<ion-content>
  <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
    <ion-row justify-content-center>
      <ion-col size="12">
        <h1 class="centerText titleText">Corporate</h1>
        <p class="centerText titleText">Incorporating your Business is less scary than you think it is.</p>
      </ion-col>
    </ion-row>
  </div>
  <!-- ******** End Of Banner Area ********** -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <p>
          Incorporating a business means turning your sole proprietorship or
          general partnership into a company formally recognized by your state
          of incorporation. An incorporated company becomes its own legal business
          structure set apart from the individuals who founded the business.
        </p>
        <p>
            Through incorporation, the owner or owners create a separate legal entity to 
            transact business. This new business entity corporation or limited liability 
            company (LLC) transforms the way the business is seen through the eyes of the law 
            and often has more credibility with customers, vendors and employees.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h4>Here is how we can help you:</h4>
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>We’ll review your business to determine if incorporating is the best step for you.</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>Determine which business type is best for your business and goals</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>Help you determine who the best directors of the corporation will be</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            <ion-label>Prepare and file the Articles of Incorporation or Articles of Organization per 
              instructions from the Secretary of State's office.</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>
            The primary benefit to business incorporation is limited liability. 
            As the owner you are responsible for any debts and losses your business 
            may accumulate along the way. However, when you incorporate, you are 
            typically only held responsible for the amount of money you personally invest. 
            Your personal assets typically cannot be used to satisfy the debts and 
            liabilities of your business.
        </p>
        <p>
            We can help you make sure you are well protected so that your business can keep growing.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="footerSpace"></div>
</ion-content>