<ion-content>
  <ion-row>
    <!-- ******** Banner Area ********** -->
    <div class="bannerArea">
      <ion-row justify-content-center>
        <ion-col size="12">
          <h1 class="centerText titleText">Complete Start-Up services</h1>
          <p class="centerText titleText">We'll help you with legal structure, financing, budgeting and market research
            matters</p>
        </ion-col>
      </ion-row>
    </div>
    <!-- ******** End Of Banner Area ********** -->
    <ion-col offsetXl="2" sizeXl="8">
      <!-- <ion-row class="banner">
        <ion-col>
          <ion-show-when size="xl">
            <ion-img src="/assets/images/SmallBusinessBanner.png" alt=""></ion-img>
          </ion-show-when>
          <ion-hide-when size="xl">
            <ion-img src="/assets/images/SmallBusinessBannerMobile.png" alt=""></ion-img>
          </ion-hide-when>
          <h3 class="titleWords">Complete Start-Up services</h3>
          <p class="titleWords">We'll help you with legal structure, financing, budgeting and market research
            matters</p>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="12">
          <h3>Plan For Success!</h3>
          <p>
            Having your own business can be liberating and exciting. The freedom and
            opportunity that it brings certainly makes it a worthwhile pursuit.
          </p>
          <p>
            Yes, there are uncertainties and many risks. But with careful and thorough
            planning and with the right people supporting you, you can be successful.
          </p>
          <p>
            As certified accountants and business developers, we're here to help you every step of the way.
            Once you're ready, let us help you evaluate your business plan and give you clear advice on
            how to proceed with what's most important.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h4>Our custom business start-up services can help you with:</h4>
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>choosing the right legal structure (Partnership, C-Corp, S-Corp, LLC, PC)</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>determining and reducing your business start-up costs</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>finding and choosing the best funding sources</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>establishing an accurate and realistic business budget</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>critical tax planning and careful investment assessment</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>all business bookkeeping, accounting and financial tracking and reporting</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>
            After our initial consultation and agreement, we will devote all our business
            development expertise and resources to help you succeed. Of course, should you
            ever have any questions and concerns regarding your business, we will
            always be open and available to help you.
          </p>
          <p>
            If a business is in your plans, don't waste any more time,
            click to schedule your free consultation now.
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="footerSpace"></div>
</ion-content>