<ion-content>
  <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
    <ion-row justify-content-center>
      <ion-col size="12">
        <h1 class="centerText titleText">Bank Reconciliation</h1>
        <p class="centerText titleText">We’ll make sure your accounts are accurate.</p>
      </ion-col>
    </ion-row>
  </div>
  <!-- ******** End Of Banner Area ********** -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <p>The process of bank reconciliation involves matching the balances in an entity's
          accounting records for a cash account to the corresponding information on a bank
          statement. The goal is to ascertain the differences between the two, and to book
          changes to the accounting records as needed. The information on the bank statement
          is the bank's record of all transactions impacting the entity's bank account during
          the past month.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>Such differences may occur, for example, because:</p>
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="warning"></ion-icon>
            <p>Check issued by the organization have not been presented to the bank</p>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="warning"></ion-icon>
            <p>A banking transaction, such as a credit received, or a charge made by the
              bank, has not yet been recorded in the organization's books</p>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="warning"></ion-icon>
            <p>Either the bank or the organization itself has made an error.</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>
          Its recommended that a bank reconciliation be completed at regular intervals
          for all bank accounts, to ensure that a company's cash records are correct.
          This will prevent that cash balances are much lower than expected, resulting
          in bounced checks or overdraft fees. A bank reconciliation can also detect
          some types of fraud after the fact; this information can be used to design better
          controls over the receipt and payment of cash.
        </p>
        <p>
          Let us make sure your finances are all squared up.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="footerSpace"></div>
</ion-content>