<ion-content>
    <ion-row>
        <!-- ******** Banner Area ********** -->
        <div class="bannerArea">
            <ion-row justify-content-center>
                <ion-col size="12">
                    <h1 class="centerText titleText">Save time and money</h1>
                    <p class="centerText titleText">Focus on growing your business while we take care of all your
                        compliance matters</p>
                </ion-col>
            </ion-row>
        </div>
        <!-- ******** End Of Banner Area ********** -->
        <ion-col offsetXl="2" sizeXl="8" size="12">
            <!-- <ion-row class="banner">
                <ion-col>
                    <ion-show-when size="xl">
                        <ion-img src="/assets/images/SalesTaxBanner.png" alt=""></ion-img>
                    </ion-show-when>
                    <ion-hide-when size="xl">
                        <ion-img src="/assets/images/SalesTaxBannerMobile.png" alt=""></ion-img>
                    </ion-hide-when>
                    <h3 class="titleWords">Save time and money</h3>
                    <p class="titleWords">Focus on growing your business while we take care of all your compliance
                        matters</p>
                </ion-col>
            </ion-row> -->
            <ion-row>
                <ion-col size="12">
                    <h3><strong>Sales Tax Solutions for your Business</strong></h3>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>
                        Let us assist you and your company in compiling information and preparing
                        sales tax returns in any state. As experienced tax professionals we have over
                        25 years experience preparing sales tax returns for over 400 different businesses.
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-list>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Retail stores</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Restaurants</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Hair Salons</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Automobile Repair Shops</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Professional Service Providers</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Media Companies</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Online Businesses</strong></p>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h5>Our record in sales tax compliance and timelines is second to none.</h5>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div class="footerSpace"></div>
</ion-content>