<ion-content>
    <ion-row>
        <!-- ******** Banner Area ********** -->
        <div class="bannerArea">
            <ion-row justify-content-center>
                <ion-col size="12">
                    <h1 class="centerText titleText">Bookkeeping at your disposal</h1>
                    <p class="centerText titleText">We’ll handle your bookkeeping while you grow your business</p>
                </ion-col>
            </ion-row>
        </div>
        <!-- ******** End Of Banner Area ********** -->
        <ion-col offsetXl="2" sizeXl="8" size="12">
            <!-- <ion-row class="banner">
                <ion-col>
                    <ion-show-when size="xl">
                        <ion-img src="/assets/images/PayrollBanner.jpg" alt=""></ion-img>
                    </ion-show-when>
                    <ion-hide-when size="xl">
                        <ion-img src="/assets/images/PayrollBannerMobile.jpg" alt=""></ion-img>
                    </ion-hide-when>
                    <h3 class="titleWords">Bookkeeping at your disposal</h3>
                    <p class="titleWords">We’ll handle your bookkeeping while you grow your business</p>
                </ion-col>
            </ion-row> -->
            <ion-row>
                <ion-col size="12">
                    <p>With our advanced knowledge and experience with hundreds
                        of businesses, we’ll take the stress out of bookkeeping for you.</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h5>The services we provide are:</h5>
                    <ion-list>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Account reconciliations</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Connection of accounts to online banking</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Month-end close</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Monthly & quarterly financials</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Processing payroll</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Maintain Vendor W-9 Information</strong></p>
                        </ion-item>
                        <ion-item>
                            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                            <p><strong>Create Collections Process</strong></p>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>
                        To keep your business in track, its vital that these tasks be
                        completed monthly in a timely manner. For that reason, we keep strict
                        procedures and deadlines in place to ensure that reports are filed and
                        received by all appropriate parties.
                    </p>
                    <p>
                        We’ll keep track of important monthly statements and spot any “red flags”
                        that could damage your business, as well as look for innovative ways to help
                        you improve. Whether you are a small or large business, we understand the importance
                        of thorough bookkeeping since it plays an important role in the success of your business.
                    </p>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div class="footerSpace"></div>
</ion-content>