<ion-show-when size="xl">
    <ion-header>
        <ion-toolbar>
            <ion-title class="centerText">Appointments</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-show-when>
<ion-content>
  <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
    <ion-row justify-content-center>
      <ion-col size="12">
        <h1 class="centerText titleText">Schedule An Appointment</h1>
      </ion-col>
    </ion-row>
  </div>
  <!-- ******** End Of Banner Area ********** -->
  <ion-row>

  </ion-row>
  <div class="footerSpace"></div>
</ion-content>