<ion-show-when size="xl">
  <ion-header>
    <ion-toolbar>
      <ion-title class="centerText">Appointments</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-show-when>
<ion-content>
  <!-- ******** Banner Area ********** -->
  <div class="bannerArea">
    <ion-row justify-content-center>
      <ion-col size="12">
        <h1 class="centerText titleText">Schedule An Appointment</h1>
      </ion-col>
    </ion-row>
  </div>
  <!-- ******** End Of Banner Area ********** -->
  <ion-row *ngIf="authService.user$ | async else notLoggedIn" class="pageContent">
    <ion-col offsetXl="2" sizeXl="8" size="12">
      <h2 class="centerText">Which day would you like to book an appointment?</h2>
    </ion-col>
    <ion-col class="centerText" size="12">
      <form [formGroup]="datePickerForm" (ngSubmit)="addEvent()">
        <ng2-flatpickr class="calendarContainer" placeholder="Pick a date!" [config]="exampleOptions"
          formControlName="datePicker"></ng2-flatpickr>
      </form>
    </ion-col>
  </ion-row>
  <hr>
  <ion-grid fixed>
    <ion-row *ngIf="availableSlots && availableSlots.length > 0 else closed">
      <ion-col class="centerText" *ngFor="let timeSlot of availableSlots" size-xl="2" size-md="3" size-xs="4">
        <div>
          <ion-button [disabled]="isSlotUnavailable(timeSlot)" class="bookItBtn" expand="full" size="large"
            (click)="presentAppointmentModal(timeSlot)">
            {{ timeSlot | timeFormat }}<br>
            Book it
          </ion-button>
        </div>

      </ion-col>
    </ion-row>
    <ion-row *ngIf="scheduleService.userAppointments$ | async as userAppointments">
      <ion-col *ngIf="userAppointments.length > 0" size="12">
        <h3>Your Current Appointments</h3>
        <div *ngFor="let userAppointment of userAppointments">
          <ion-item class="userAppointment">
            <ion-label>{{ userAppointment.start.toDate() | date: 'fullDate' }} at {{ userAppointment.hourSlot | timeFormat }}</ion-label>
            <ion-button fill="solid" class="cancelBtn" (click)="onDeleteAppointment(userAppointment)">
              <ion-label>Cancel Appointment</ion-label>
              <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="footerSpace"></div>
</ion-content>

<ng-template #closed>
  <ion-col *ngIf="availableSlots" size="12">
    <h2>There are no timeslots available for this date</h2>
  </ion-col>
</ng-template>

<ng-template #notLoggedIn>
  <ion-col class="centerText notLoggedIn" offsetXl="2" sizeXl="8" size="12">
    <h1>You must be logged into your account to book an appointment</h1>
    <span>
      <h3>Please log into your account by clicking <a [routerLink]="['/login']">here</a></h3>
    </span>
    <span>
      <h3>Or register a new account by clicking <a [routerLink]="['/register']">here</a></h3>
    </span>
  </ion-col>
</ng-template>