<ion-content padding>
  <ion-row>
    <ion-col offsetXl="2" sizeXl="8">
      <ion-row>
        <ion-col>
          <ion-show-when size="xl">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <ion-img src="/assets/images/financialBannerText.png"></ion-img>
              </ion-slide>
              <ion-slide>
                <ion-img src="/assets/images/calculateBannerText.png" alt=""></ion-img>
              </ion-slide>
              <ion-slide>
                <ion-img src="/assets/images/hand-shakeBannerText.png" alt=""></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-show-when>
          <ion-hide-when size="xl">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <ion-img src="/assets/images/financialBannerMobile.png"></ion-img>
              </ion-slide>
              <ion-slide>
                <ion-img src="/assets/images/calculateBannerMobile.png" alt=""></ion-img>
              </ion-slide>
              <ion-slide>
                <ion-img src="/assets/images/hand-shakeBannerMobile.png" alt=""></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-hide-when>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h1>Accounting Services Guaranteed to Save You Time and Money</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
              <div>
                  <ion-img class="newYorkImg" src="/assets/images/NYCityLocation.jpg" alt="New York City"></ion-img>
                </div>
            <p>
              Located in the heart of Forest Hills, Queens, New York, we provide the finest accounting,
              bookkeeping and tax preparation services available today. For more than 30 years our team
              of financial experts have helped more than 4500 delighted customers achieve their personal
              and business financial goals. When it comes to your worries, our patient "TRADITION IN CARRING" approach,
              together with our extensive experience, guarantee that you will leave our office feeling much
              better than when you entered. Just ask any of our many loyal customers and friends.</p>
            <p>
              There's no need to feel sad and stressed over your current financial situation.
              We promise you that there is a reliable and guaranteed solution to any problem you may have.
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col justify-content-center size="12">
          <h4>Should you need us, we can help you with the following financial services:</h4>
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Personal Income Tax Preparation</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Corporate Income Tax Preparation</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Sales Tax Services</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Payroll Services and Quarterly Filling</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Monthly Bookkeeping Services</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Bank Reconciliation</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Business Assistance</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Corporate Assistance</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>
            Just one call will get you in touch with one of our experts and caring public accountants.
            Feel free to ask us about any of our services and schedule your very own appointment.
            Or simply do it online by clicking here. We promise that our solution to your problem will be
            customized and specific to your needs and those of your family. Each is fully guaranteed and
            backed up by our sincere commitment to your success.
          </p>
          <p>
            Give us a call or send us an email now so we can meet and get to work on a successful and happier
            tomorrow for you and your loved ones.
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr>
<hr>
<div class="footerSpace"></div>
</ion-content>