ion-header {
    position: relative;
    top: 60px;
}

.headerTitle {
    text-align: center;
    margin-bottom: -20px;
}

.centerText {
    text-align: center;
}

.calendarViewButtons {
    margin-top: 6px;
    float: right;
    position: absolute;
}

ion-grid {
    width: 90%;
}

.contentArea {
    position: relative;
    top: 50px;
}

.red-cell {
    background-color: red !important;
  }
  .blue-cell {
    background-color: blue !important;
  }
